body {
    margin: 0;
    overflow: hidden;
  
}

.blob {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 4px rgb(0, 0, 0);
    aspect-ratio: 960/540;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.scene {
    background-image: url('./blob-scene-haikei.svg');
}

.try {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 235px;
}

#visual {
    position: absolute;
    width: 100%;
    top: 130px;
    width: 100%;
}

.playerImgs,
.computerImgs {
  display: flex;
  width: auto;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
  max-height: 90px;
}

img {
    width: 90px;
    height: 90px;
}

.pImg:hover {
    cursor: pointer;
    width: 110px;
    height: 110px;
}

.active {
    width: 110px;
    height: 110px;
}

.winner {
    width: 100%;
}

.reset {
    display: none;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 30px;
    background-color: ivory;
    color: gray;
    font-size: x-large;
    border: 1px;
    border-radius: 5px;
}

.reset:hover {
    cursor: pointer;
}

.Div {
    display: flex;
    flex-direction: column;
    align-items: center;
}